*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: space-evenly;
    background-color: brown;
    border-bottom: white 1px solid;

} 

.header input{
    border-radius: 5px;
    margin-right: 10px;
    padding: 5%;
    font-weight: 700;
    margin: 10px;
    margin-top: 30px;
    align-content: end;
    
}
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: brown;
    align-content: space-between;
}
nav a{
    text-decoration: none;
    color: rgb(248, 245, 247);
    padding: 30px;
    font-weight: 700;
    margin: 10px;
    text-transform:uppercase;
}

.container{
    display: flex;
    flex-direction: row;
}
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: brown;
    
}
img{
   
}
.productos{
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    margin:20px 5%; 
}
.productos div{
    width: 90%;
    padding: 30px;
    align-content: space-evenly;
    align-content: center;
    
}
.starprod{
    background-color: rgb(192, 99, 99);
    margin: 10px;
    border: 10px;
    border-radius: 20px;
    border: 1px solid rgb(3, 3, 3);
    align-content: center;
}
.starprod p{
    margin: 20px 5px;
    text-align: center;
}
img{
    align-content: center;
    width:100%;
    margin: 0 auto;
    border: 1px solid black;
}
.starprod h3{
    align-content: center;
    text-align: center;
    background-color: rgb(255, 158, 174);
    color: rgb(31, 30, 30);
    border:1px solid black;
    border-radius: 10px;
    padding:5px;
    margin:10px 5px;
}
.starprod p{
    text-align: center;
}
.starprod input{
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    padding:5px;

}
.precio{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(238, 235, 87);
    border: 1px solid black;
    border-radius: 40px;
    color:rgb(189, 0, 0);
    font-weight: 600;
}
aside{
    background-color: brown;
    border-left: 1px solid white;
}
aside h2{
    background-color: brown;
    color: white;
    border-left: 1px solid white;
    text-shadow: 5px whitesmoke;
    font-size: 35px;
    font-weight: 900;
    padding: 15px;
    text-align: center;
}
form{
    display:flex;
    flex-direction: column;
    font-weight: 800;
}
form legend{
    padding: 20px 0;
}
form input{
    margin: 10px 0;
    border-radius: 5px;
    
}
form label{
    margin-left: 5%;
}
#enviar{
    padding: 2px 15px;
    border-radius: 10px;
}
aside ol{
    list-style-type: none;
}

footer{
    width: 100%;
    background-color:rgb(107, 18, 18);
    font-weight: 600;
    border-top: 1px solid white;
    padding: 0 40px;
}

.piepagina {
    display: flex;
    flex-direction: row;
}
.piepag div{
    flex-direction: column;
    margin 50px;
}
.piepag li{
    margin-top: 5px;
    list-style-type: none;
    font-size: 15px;
}
.piepag i{

   font-size: 20px;
   padding: 20px;
   margin-left: 50px;
   
}

footer p{
    margin-top: 20px;
}
@media (max-width: 1100px) {
    .header{
        flex-direction: column;
    }
    .header input {
        width: 30%;
        margin: 0 auto;
        padding: 5px 10px;
        text-align: center;
        margin-bottom: 20px;
    }
    nav a{
        padding: 5px;
        margin: 10px;
        
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .main{
        width: 100%;
    }
    .productos{
        display: flex;
        flex-direction: column;
        width: 85%;
        margin:5%; 
    }
    .productos div{
        width:85%;
        margin: 0 autp;
    }
    aside{
        border:0;
    }
    .piepagina{
        display: flex;
        flex-direction: column;

    }
    
}